.container{
    background-color: hsl(217, 19%, 24%);
    width: 32rem;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;   
    
    
    h3{
        color: hsl(150, 100%, 66%);
        font-size: 14px;
        margin-top: 40px;
    }
    p{
        color: hsl(193, 38%, 86%);
        width: 32rem;
    }

    .divider{
        width: 30rem;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 1rem;
    }
}

@media only screen and (max-width:500px) {
    .container{
        width: 20rem;

        p{
            width: 20rem;
        }

        .divider{
            width: 18rem;
        }
    }
}

@media only screen and (max-width:320px) {
    .container{
        width: 16rem;

        p{
            width: 16rem;
        }

        .divider{
            width: 14rem;
        }
    }
}